{% load static %}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth group" data-sidebar="brand" dir="ltr">
  
    <meta charset="utf-8" />
    <title>Stedap - </title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      content="Activities Tracker "
      name="description"
    />
    <meta content="" name="stedap" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />

    <!-- Css -->
    <link
      href="{% static 'assets/libs/prismjs/themes/prism-twilight.min.css' %}"
      type="text/css"
      rel="stylesheet"
    />
    <!-- Main Css -->
    <link rel="stylesheet" href="{% static 'assets/libs/icofont/icofont.min.css' %}" />
    <link
      href="{% static 'assets/libs/flatpickr/flatpickr.min.css' %}"
      type="text/css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.min.css' %}" />
  </head>

  <body
    data-layout-mode="light"
    data-sidebar-size="default"
    data-theme-layout="vertical"
    class="bg-[#EEF0FC] dark:bg-gray-900"
  >
    <!-- leftbar-tab-menu -->

    {% include 'sidebar.html' %} {% include 'topbar.html' %}
    <div class="ltr:flex flex-1 rtl:flex-row-reverse">
      <div class="page-wrapper relative ltr:ml-auto rtl:mr-auto rtl:ml-0 w-[calc(100%-260px)] px-4 pt-[64px] duration-300">
          <div class="xl:w-full">        
              <div class="flex flex-wrap">
                  <div class="flex items-center py-4 w-full">
                      <div class="w-full">                    
                          <div class="flex flex-wrap justify-between">
                              <div class="items-center ">
                                  <h1 class="font-medium text-3xl block dark:text-slate-100">Activity History Report</h1>
                                  <ol class="list-reset flex text-sm">
                                      <li><a href="#" class="text-gray-500 dark:text-slate-400">Stedap</a></li>
                                      <li><span class="text-gray-500 dark:text-slate-400 mx-2">/</span></li>
                                      <li class="text-gray-500 dark:text-slate-400">Activity History Report</li>
                                      <li><span class="text-gray-500 dark:text-slate-400 mx-2">/</span></li>
                                      <li class="text-primary-500 hover:text-primary-600 dark:text-primary-400">Activity History Report</li>
                                  </ol>
                              </div><!--end /div-->
                              <div class="flex items-center">
                                  <div class="today-date leading-5 mt-2 lg:mt-0 form-input w-auto rounded-md border inline-block border-primary-500/60 dark:border-primary-500/60 text-primary-500 bg-transparent px-3 py-1 focus:outline-none focus:ring-0 placeholder:text-slate-400/70 placeholder:font-normal placeholder:text-sm hover:border-primary-400 focus:border-primary-500 dark:focus:border-primary-500  dark:hover:border-slate-700">
                                      <input type="text" class="dash_date border-0 focus:border-0 focus:outline-none" readonly  required="">
                                  </div>
                              </div><!--end /div-->
                          </div><!--end /div-->
                      </div><!--end /div-->
                  </div><!--end /div-->
              </div><!--end /div-->
          </div><!--end container-->
      
          <div class="xl:w-full  min-h-[calc(100vh-152px)] relative pb-14"> 
              <div class="grid md:grid-cols-12 lg:grid-cols-12 xl:grid-cols-12 gap-4 mb-4">
                  
                  <div class="sm:col-span-12  md:col-span-12 lg:col-span-8 xl:col-span-6 xl:col-start-4 ">
                      
                      <div class="bg-white dark:bg-gray-900 border border-slate-200 dark:border-slate-700/40  rounded-md w-full relative mb-4">
                          <div class="border-b border-slate-200 dark:border-slate-700/40 py-3 px-4 dark:text-slate-300/70">
                              <div class="flex-none md:flex">
                                  <h4 class="font-medium text-lg flex-1 self-center mb-2 md:mb-0">Choose Date</h4>
                                  <div class="dropdown inline-block">
                                                                                 
                                  </div>
                              </div>
                          </div><!--end header-title-->
                          <div class="flex-auto p-4 ">
                              <form method ="post">
                                {% csrf_token %}
                                  <!-- CSS -->
<link rel="stylesheet" href="{% static 'assets/libs/vanillajs-datepicker/css/datepicker.min.css' %} ">
<!-- JS -->
    <script src="{% static 'assets/libs/vanillajs-datepicker/js/datepicker-full.min.js' %}"></script>
    <script src="{% static 'assets/libs/moment/moment.js' %}"></script>
<script src="{% static 'assets/js/pages/form-advanced.init.js' %}"></script>


<label for="Default_Datepicker" class="font-medium text-sm text-slate-600 dark:text-slate-400 mt-2">Pick Date</label>
<div class="flex mt-2" id="DateRange">
    <input type="date" name="start_date" required class="form-input w-full rounded-none rounded-l-md  border border-slate-300/60 dark:border-slate-700 dark:text-slate-300 bg-transparent px-3 py-1 focus:outline-none focus:ring-0 placeholder:text-slate-400/70 placeholder:font-normal placeholder:text-sm hover:border-slate-400 focus:border-primary-500 dark:focus:border-primary-500  dark:hover:border-slate-700" placeholder="Start" aria-label="StartDate">
    <span class="inline-flex items-center px-3 text-sm text-slate-900 bg-slate-200  border border-r-0 border-l-0 border-slate-300 dark:bg-slate-600 dark:text-slate-400 dark:border-slate-600">
        to
    </span>
    <input type="date" name="end_date" required  id="end-date" class="form-input w-full rounded-none rounded-r-md  border border-slate-300/60 dark:border-slate-700 dark:text-slate-300 bg-transparent px-3 py-1 focus:outline-none focus:ring-0 placeholder:text-slate-400/70 placeholder:font-normal placeholder:text-sm hover:border-slate-400 focus:border-primary-500 dark:focus:border-primary-500  dark:hover:border-slate-700" placeholder="End" aria-label="EndDate">
</div>
                                  
                                  
                                  <button type="submit" class="inline-block focus:outline-none text-primary-500 hover:bg-primary-500 hover:text-white bg-transparent border border-gray-200 dark:bg-transparent dark:text-primary-500 dark:hover:text-white dark:border-gray-700 dark:hover:bg-primary-500  text-sm font-medium py-1 px-3 rounded mb-1 lg:mb-0">Generate Report</button>
                                  <button type="text" class="inline-block focus:outline-none text-red-500 hover:bg-red-500 hover:text-white bg-transparent border border-gray-200 dark:bg-transparent dark:text-red-500 dark:hover:text-white dark:border-gray-700 dark:hover:bg-red-500  text-sm font-medium py-1 px-3 rounded mb-1 lg:mb-0">Cancel</button>
                              </form>
                          </div><!--end card-body-->
                          
                          <div id="Forms-2" class="transition-all duration-500 overflow-hidden bg-slate-50 dark:bg-slate-900 hidden">
                              <div class="grid">

                              </div>
                          </div>                              
                      </div> <!--end card-->

                      {% if activity_histories %}

                      <div class="col-span-12 sm:col-span-12  md:col-span-12 lg:col-span-6 xl:col-span-6 ">
                        <div class="bg-white shadow-sm dark:shadow-slate-700/10 dark:bg-gray-900   rounded-md w-full relative">
                            <div class="border-b border-dashed border-slate-200 dark:border-slate-700 py-4 px-4 dark:text-slate-300/70">                                    
                                <h4 class="font-medium flex-1 self-center mb-2 md:mb-0 text-xxl">Activity History</h4>
                                <p class="text-sm text-slate-400">No. of Activities<span class="focus:outline-none text-[11px] bg-brand-500/10 text-brand-500 dark:text-brand-300 rounded font-medium py-[2px] px-2">{{activity_count}}</span></p>
                            </div>
                            <div class="grid grid-cols-1 p-4">
                                <div class="sm:-mx-6 lg:-mx-8">
                                    <div class="relative overflow-x-auto block w-full sm:px-6 lg:px-8">
                                        <table class="w-full">
                                            <thead class="bg-brand-400/10 dark:bg-slate-700/20">
                                                <tr>
                                                    <th scope="col" class="p-3 text-base font-medium tracking-wider text-start text-gray-700 uppercase dark:text-gray-400">
                                                        Activity
                                                    </th>
                                                    <th scope="col" class="p-3 text-base font-medium tracking-wider text-start text-gray-700 uppercase dark:text-gray-400">
                                                        Comment
                                                    </th>
                                                    
                                                    <th scope="col" class="p-3 text-base font-medium tracking-wider text-start text-gray-700 uppercase dark:text-gray-400">
                                                        Updated By
                                                    </th>
                                                    <th scope="col" class="p-3 text-base font-medium tracking-wider text-start text-gray-700 uppercase dark:text-gray-400">
                                                        Status
                                                    </th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>

                                                
                                                <!-- 1 -->
                                                {% for activity_history in activity_histories %}
                                                <tr class="bg-white border-b border-dashed dark:bg-gray-900 dark:border-gray-700/40">
                                                    >
                                                    
                                                    <td class="p-3 text-base text-gray-500 whitespace-nowrap dark:text-gray-400">
                                                        {{ activity_history.activity.name }} 
                                                    </td>
                                                    <td class="p-3 text-base text-gray-500 whitespace-nowrap dark:text-gray-400">
                                                        {{ activity_history.remark }} 
                                                    </td>
                                                    <td class="p-3 text-base text-gray-500 whitespace-nowrap dark:text-gray-400">
                                                        {{activity_history.updated_by.username}} 
                                                    </td>
                                                    <td class="p-3 text-base text-gray-500 whitespace-nowrap dark:text-gray-400">
                                                        {% if activity_history.status == 'pending'%}
                                                        <span class="focus:outline-none text-[12px] bg-red-500/10 text-red-700 dark:text-red-400 rounded font-medium py-1 px-2">{{ activity_history.status }}</span>
                                                        {% else %}
                                                        <span class="focus:outline-none text-[12px] bg-green-600/10 text-green-700 dark:text-red-600 rounded font-medium py-1 px-2">{{ activity_history.status }}</span>


                                                        {%endif%}
                                                    </td>
                                                   
                                                </tr>

                                                {% endfor %}
                                                <!-- 2 -->
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div><!--end card-body-->
                        </div> <!--end card-->
                    </div><!--end col-->             
                </div><!--end inner-grid--> 

                {% endif %}
                      

                     
                      
          <div
            class="absolute bottom-0 -left-4 -right-4 block print:hidden border-t p-4 h-[52px] dark:border-slate-700/40"
          >


          
            <div class="container">
              <!-- Footer Start -->
              {% include 'footer.html' %}
              <!-- end Footer -->
            </div>
          </div>
        </div>
        <!--end container-->
      </div>
      <!--end page-wrapper-->
    </div>
    <!--end /div-->

    <!-- JAVASCRIPTS -->
    <!-- <div class="menu-overlay"></div> -->
    <script src="{% static 'assets/libs/lucide/umd/lucide.min.js' %}"></script>
    <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'assets/libs/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'assets/libs/%40frostui/tailwindcss/frostui.js' %}"></script>

    <script src="{% static 'assets/libs/prismjs/prism.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <!-- JAVASCRIPTS -->
  </body>

 
</html>
