
{% load static %}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth group" data-sidebar="brand" dir="ltr">
<head>
        <meta charset="utf-8" />
        <title>Stedap - Dashboard</title>
        <meta  name="viewport"  content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta  content="Activities Tracker "  name="description"/>
        <meta content="" name="stedap" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />
        
        <!-- Css -->
        <!-- Main Css -->
        <link rel="stylesheet" href="{% static 'assets/libs/icofont/icofont.min.css' %}">
        <link href="{% static 'assets/libs/flatpickr/flatpickr.min.css" type="text/css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets/css/tailwind.min.css' %}">

    </head>
    
    <body data-layout-mode="light"  data-sidebar-size="default" data-theme-layout="vertical" class="bg-[#EEF0FC] dark:bg-gray-900">
    
        <!-- leftbar-tab-menu -->
        

        {% include 'sidebar.html' %}

        {% include 'topbar.html' %}

        
            


        <div class="ltr:flex flex-1 rtl:flex-row-reverse">
            <div class="page-wrapper relative ltr:ml-auto rtl:mr-auto rtl:ml-0 w-[calc(100%-260px)] px-4 pt-[64px] duration-300">
                
            
                

                    
                    
                      
                        <div class="col-span-12 sm:col-span-12  md:col-span-12 lg:col-span-6 xl:col-span-6 ">
                            <div class="bg-white shadow-sm dark:shadow-slate-700/10 dark:bg-gray-900   rounded-md w-full relative">
                                <div class="border-b border-dashed border-slate-200 dark:border-slate-700 py-4 px-4 dark:text-slate-300/70">                                    
                                    <h4 class="font-medium flex-1 self-center mb-2 md:mb-0 text-xxl">Activities</h4>
                                    <p class="text-sm text-slate-400">All Activities<span class="focus:outline-none text-[11px] bg-brand-500/10 text-brand-500 dark:text-brand-300 rounded font-medium py-[2px] px-2">{{ activities_count }}</span></p>
                                </div><!--end header-title-->
                                <div class="grid grid-cols-1 p-4">
                                    <div class="sm:-mx-6 lg:-mx-8">
                                        <div class="relative overflow-x-auto block w-full sm:px-6 lg:px-8">
                                            <table class="w-full">
                                                <thead class="bg-brand-400/10 dark:bg-slate-700/20">
                                                    <tr>
                                                        <th scope="col" class="p-3 text-base font-medium tracking-wider text-start text-gray-700 uppercase dark:text-gray-400">
                                                          Activities
                                                        </th>
                                                        
                                                        <th scope="col" class="p-3 text-base font-medium tracking-wider text-start text-gray-700 uppercase dark:text-gray-400">
                                                            Comment
                                                        </th>
                                                        <th scope="col" class="p-3 text-base font-medium tracking-wider text-start text-gray-700 uppercase dark:text-gray-400">
                                                            Status
                                                        </th>
                                                        <th scope="col" class="p-3 text-base font-medium tracking-wider text-start text-gray-700 uppercase dark:text-gray-400">
                                                            Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    
                                                    <!-- 1 -->
                                                    {% for activity in activities %}
                                                    <tr class="bg-white border-b border-dashed dark:bg-gray-900 dark:border-gray-700/40">
                                                        <td class="p-3 text-base font-medium whitespace-nowrap dark:text-white">
                                                          <a href="{% url 'activity_history' activity.id %}">{{ activity.name }}</a>
                                                        </td>
                                                        
                                                        <td class="p-3 text-base text-gray-500 whitespace-nowrap dark:text-gray-400" style="overflow: hidden;
                                                        text-overflow: ellipsis;
                                                        word-wrap: break-word;
                                                        width: 20px;">
                                                          {{ activity.comment }}
                                                        </td>
                                                        <td class="p-3 text-base text-gray-500 whitespace-nowrap dark:text-gray-400">
                                                            {% if activity.status == 'pending'%}
                                                            <span class="focus:outline-none text-[12px] bg-red-500/10 text-red-700 dark:text-red-400 rounded font-medium py-1 px-2">{{ activity.status }}</span>
                                                            {% else %}
                                                            <span class="focus:outline-none text-[12px] bg-green-600/10 text-green-700 dark:text-red-600 rounded font-medium py-1 px-2">{{ activity.status }}</span>


                                                            {%endif%}
                                                        </td>
                                                        <td class="p-3 text-base text-gray-500 whitespace-nowrap dark:text-gray-400">
                                                            <a href="{% url 'update_activity' activity.id %}"><i class="icofont-ui-edit text-lg text-gray-500 dark:text-gray-400"></i></a>
                                                            <a href="{% url 'delete_activity' activity.id %}"><i class="icofont-ui-delete text-lg text-red-500 dark:text-red-400"></i></a>
                                                        </td>
                                                    </tr>

                                                    {% endfor %}
                                                    <!-- 2 -->
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div><!--end card-body-->
                            </div> <!--end card-->
                        </div><!--end col-->             
                    </div><!--end inner-grid--> 
                    <!-- footer -->
                    <div class="absolute bottom-0 -left-4 -right-4 block print:hidden border-t p-4 h-[52px] dark:border-slate-700/40">
                        <div class="container">
                          <!-- Footer Start -->
                          {% include 'footer.html' %}
                          <!-- end Footer -->
                        </div>
                      </div>
  
  
                </div><!--end container-->
            </div>
        </div>

        <!-- JAVASCRIPTS -->
        <!-- <div class="menu-overlay"></div> -->
        <script src="{% static 'assets/libs/lucide/umd/lucide.min.js' %}"></script>
        <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'assets/libs/flatpickr/flatpickr.min.js' %}"></script>
        <script src="{% static 'assets/libs/%40frostui/tailwindcss/frostui.js' %}"></script>

        <script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>
        <script src="{% static 'assets/js/pages/analytics-index.init.js' %}"></script>
        <script src="{% static 'assets/js/app.js' %}"></script>
        <!-- JAVASCRIPTS -->
    </body>


</html>