{% load static %}
<!DOCTYPE html>
<html lang="en" class="scroll-smooth group" data-sidebar="brand" dir="ltr">
  
    <meta charset="utf-8" />
    <title>Stedap - Update Activity</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      content="Activities Tracker "
      name="description"
    />
    <meta content="" name="stedap" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}" />

    <!-- Css -->
    <link
      href="{% static 'assets/libs/prismjs/themes/prism-twilight.min.css' %}"
      type="text/css"
      rel="stylesheet"
    />
    <!-- Main Css -->
    <link rel="stylesheet" href="{% static 'assets/libs/icofont/icofont.min.css' %}" />
    <link
      href="{% static 'assets/libs/flatpickr/flatpickr.min.css' %}"
      type="text/css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.min.css' %}" />
  </head>

  <body
    data-layout-mode="light"
    data-sidebar-size="default"
    data-theme-layout="vertical"
    class="bg-[#EEF0FC] dark:bg-gray-900"
  >
    <!-- leftbar-tab-menu -->

    {% include 'sidebar.html' %} {% include 'topbar.html' %}
    <div class="ltr:flex flex-1 rtl:flex-row-reverse">
      <div class="page-wrapper relative ltr:ml-auto rtl:mr-auto rtl:ml-0 w-[calc(100%-260px)] px-4 pt-[64px] duration-300">
          <div class="xl:w-full">        
              <div class="flex flex-wrap">
                  <div class="flex items-center py-4 w-full">
                      <div class="w-full">                    
                          <div class="flex flex-wrap justify-between">
                              <div class="items-center ">
                                  <h1 class="font-medium text-3xl block dark:text-slate-100">Create Activity</h1>
                                  <ol class="list-reset flex text-sm">
                                      <li><a href="#" class="text-gray-500 dark:text-slate-400">Stedap</a></li>
                                      <li><span class="text-gray-500 dark:text-slate-400 mx-2">/</span></li>
                                      <li class="text-gray-500 dark:text-slate-400">Create Activity</li>
                                      <li><span class="text-gray-500 dark:text-slate-400 mx-2">/</span></li>
                                      <li class="text-primary-500 hover:text-primary-600 dark:text-primary-400">Create Activity</li>
                                  </ol>
                              </div><!--end /div-->
                              <div class="flex items-center">
                                  <div class="today-date leading-5 mt-2 lg:mt-0 form-input w-auto rounded-md border inline-block border-primary-500/60 dark:border-primary-500/60 text-primary-500 bg-transparent px-3 py-1 focus:outline-none focus:ring-0 placeholder:text-slate-400/70 placeholder:font-normal placeholder:text-sm hover:border-primary-400 focus:border-primary-500 dark:focus:border-primary-500  dark:hover:border-slate-700">
                                      <input type="text" class="dash_date border-0 focus:border-0 focus:outline-none" readonly  required="">
                                  </div>
                              </div><!--end /div-->
                          </div><!--end /div-->
                      </div><!--end /div-->
                  </div><!--end /div-->
              </div><!--end /div-->
          </div><!--end container-->
      
          <div class="xl:w-full  min-h-[calc(100vh-152px)] relative pb-14"> 
              <div class="grid md:grid-cols-12 lg:grid-cols-12 xl:grid-cols-12 gap-4 mb-4">
                  
                  <div class="sm:col-span-12  md:col-span-12 lg:col-span-8 xl:col-span-6 xl:col-start-4 ">
                      
                      <div class="bg-white dark:bg-gray-900 border border-slate-200 dark:border-slate-700/40  rounded-md w-full relative mb-4">
                          <div class="border-b border-slate-200 dark:border-slate-700/40 py-3 px-4 dark:text-slate-300/70">
                              <div class="flex-none md:flex">
                                  <h4 class="font-medium text-lg flex-1 self-center mb-2 md:mb-0">Floating labels</h4>
                                  <div class="dropdown inline-block">
                                                                                 
                                  </div>
                              </div>
                          </div><!--end header-title-->
                          <div class="flex-auto p-4 ">
                              <form method ="post">
                                {% csrf_token %}
                                  <div class="relative z-0 mb-2 w-full group">
                                      <input type="text" id="id_name" name="name" value="{{ activity.name }}" autocomplete="off" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b border-slate-300/60 appearance-none dark:text-slate-300 dark:border-slate-700 dark:focus:border-primary-500 focus:outline-none focus:ring-0 focus:border-primary-500 peer" placeholder=" " required />
                                      <label for="name" class="absolute text-sm text-gray-400 dark:text-slate-400/70 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-primary-500 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Activity</label>
                                  </div>
                                  <div class="relative z-0 mb-2 w-full group">
                                      <input type="text" id="id_comment" name="comment" value="{{ activity.comment }}" autocomplete="off" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b border-slate-300/60 appearance-none dark:text-slate-300 dark:border-slate-700 dark:focus:border-primary-500 focus:outline-none focus:ring-0 focus:border-primary-500 peer" placeholder=" " required />
                                      <label for="floating_repeat_password" class="absolute text-sm text-gray-400 dark:text-slate-400/70 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-primary-500 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Comment</label>
                                  </div>
                                  <div class="relative z-0 mb-2 w-full group">
                                    <label for="id_status"class="font-medium text-sm text-slate-600 dark:text-slate-400">Status</label>
                                    <select id="id_status" name="status" autocomplete="off" class="w-full rounded-md mt-1 border border-slate-300/60 dark:border-slate-700 dark:text-slate-300 bg-transparent px-3 py-[6.5px] focus:outline-none focus:ring-0 placeholder:text-slate-400/70 placeholder:font-normal placeholder:text-sm hover:border-slate-400 focus:border-primary-500 dark:focus:border-primary-500  dark:hover:border-slate-700">
                                        <option value="done" {% if activity.status == 'done' %} selected {% endif %}>Done</option>
                                        <option value="pending" {% if activity.status == 'pending' %} selected {% endif %}>Pending</option>
                                    </select>
                                  </div>
                                  
                                  
                                  <button type="submit" class="inline-block focus:outline-none text-primary-500 hover:bg-primary-500 hover:text-white bg-transparent border border-gray-200 dark:bg-transparent dark:text-primary-500 dark:hover:text-white dark:border-gray-700 dark:hover:bg-primary-500  text-sm font-medium py-1 px-3 rounded mb-1 lg:mb-0">Submit</button>
                                  <button type="text" class="inline-block focus:outline-none text-red-500 hover:bg-red-500 hover:text-white bg-transparent border border-gray-200 dark:bg-transparent dark:text-red-500 dark:hover:text-white dark:border-gray-700 dark:hover:bg-red-500  text-sm font-medium py-1 px-3 rounded mb-1 lg:mb-0">Cancel</button>
                              </form>
                          </div><!--end card-body-->
                          
                          <div id="Forms-2" class="transition-all duration-500 overflow-hidden bg-slate-50 dark:bg-slate-900 hidden">
                              <div class="grid">

                              </div>
                          </div>                              
                      </div> <!--end card-->
                      

                     
                      
          <div
            class="absolute bottom-0 -left-4 -right-4 block print:hidden border-t p-4 h-[52px] dark:border-slate-700/40"
          >
            <div class="container">
              <!-- Footer Start -->
              {% include 'footer.html' %}
              <!-- end Footer -->
            </div>
          </div>
        </div>
        <!--end container-->
      </div>
      <!--end page-wrapper-->
    </div>
    <!--end /div-->

    <!-- JAVASCRIPTS -->
    <!-- <div class="menu-overlay"></div> -->
    <script src="{% static 'assets/libs/lucide/umd/lucide.min.js' %}"></script>
    <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'assets/libs/flatpickr/flatpickr.min.js' %}"></script>
    <script src="{% static 'assets/libs/%40frostui/tailwindcss/frostui.js' %}"></script>
    <script src="{% static 'assets/libs/prismjs/prism.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <!-- JAVASCRIPTS -->
  </body>

  
</html>
